.course-item-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.course-details-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-error-view-image {
  width: 500px;
  height: 350px;
}

.course-not-found-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
}
.course-not-found-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  width: 90%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.retry-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 65px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #4656a1;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
.details-view-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90vw;
  margin-top: 10px;
  border-radius: 10px;
}
