.all-courses-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-courses-container {
    margin: 30px;
  }
}
.courses-list-heading {
  color: #1e293b;
  font-family: 'Roboto';
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.courses-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-failure-img {
  width: 500px;
  height: 350px;
}

.courses-failure-heading-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
}

.courses-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  width: 90%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.retry-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 65px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #4656a1;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
